In [104]:
import pandas as pd
import os

In [118]:
def count_top3(list_: list):
    path_list = []
    for _ in list_:
        path = 'D:/Games/Anaconda3/Scripts/primer/name/yob' + str(_) + '.txt'
        path_list.append(pd.read_csv(path, names=['Name', 'Male', 'Numbers']))
    df_res = pd.concat(path_list).groupby(['Name']).sum().sort_values(['Numbers'], ascending=False).reset_index()
    return df_res.head(3)

In [120]:
count_top3([1900, 1905, 2000])

      Name  Numbers
0     Mary    39124
1     John    38101
2  William    35845

In [174]:
def count_dynamics(list_: list):
    path_list = []
    for _ in list_:
        path = 'D:/Games/Anaconda3/Scripts/primer/name/yob' + str(_) + '.txt'
        w = pd.read_csv(path, names=['Name', 'Male', 'Numbers'])['Male'].value_counts()
#       q[_] = _
        path_list.append(w)
    df_res = pd.concat(path_list)
    return df_res

In [175]:
count_dynamics([1900, 1905, 2000])

F     2224
M     1506
F     2234
M     1421
F    17655
M    12117
Name: Male, dtype: int64

In [ ]:
['Male', 'Numbers'].sum().reset_index()

In [ ]:
df_names['male'].value_counts()