In [3]:
import pandas as pd
import os

In [10]:
def count_top3(list_: list):
    path_list = []
    for _ in list_:
        path = 'D:/Games/Anaconda3/Scripts/primer/name/yob' + str(_) + '.txt'
        path_list.append(pd.read_csv(path, names=['Name', 'Male', 'Numbers']))
    df_res = pd.concat(path_list).groupby(['Name']).sum().sort_values(['Numbers'], ascending=False).reset_index()
    return df_res.head(3)

In [11]:
count_top3([1900, 1905, 2000])

      Name  Numbers
0     Mary    39124
1     John    38101
2  William    35845

In [50]:
def count_dynamics(list_: list):
    path_list = []
    for _ in list_:
        path = 'D:/Games/Anaconda3/Scripts/primer/name/yob' + str(_) + '.txt'
        w = pd.read_csv(path, names=['Name', 'Male', 'Numbers'])
        w ['Year'] = _
        w = w.groupby(['Male', 'Year']).sum()
        path_list.append(w)
    df_res = pd.concat(path_list)
    return df_res

In [51]:
count_dynamics([1900, 1905, 2000])

           Numbers
Male Year
F    1900   299798
M    1900   150480
F    1905   291619
M    1905   132311
F    2000  1815295
M    2000  1963202